# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual env
.venv/
venv/

# macOS
.DS_Store

# Environment
.env
.env*

# Outputs
output/

# Backups
_output-backup
_backup

# Audition
_audition/
Audition/